@page "/greeting"
<h1>@title</h1>
@code{
    private string title = "Đăng Nhập";
    private string name;
    private string password;
    private string greeting;
    private void Dangnhap()
    {
        if(!string.IsNullOrEmpty(name)&&!string.IsNullOrEmpty(password))
        {
            greeting = $"Đăng Nhập {name} {password} Thành Công.Chào Mừng Bạn Đã Đến Với QuocTruong_Store";
        }
    }
}
<div class="form-group">
    <input type="text" placeholder="Nhập Tài Khoản"@bind="name"class="form-control"/>
</div>
<div class="form-group">
    <input type="text" placeholder="Nhập Mật Khẩu"@bind="password"class="form-control"/>
</div>
<div class="form-group">
    <button @onclick="Dangnhap" class="btn btn-primary">Đăng Nhập!</button>
</div>
<h3>@greeting</h3>